<div class="container">
  
  <div class="panel panel-default">
    <div class="panel-heading"><%= @bulletin.title %></div>
    <div class="panel-body"><%= @bulletin.content %></div>
  </div>
  
</div>
