<div class="container">
 
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '銷售報表' } %>
  <%= render :partial => "shared/tabs_analysis", :locals => { :selected_item => '銷售排行' } %>

  <form id="search-form">
    <div class="input-group col-xs-4">
      <input type="date" id="s_date" class="form-control">
      <div class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i>
    </div>
      <input type="date" id="e_date" class="form-control">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" id="search-btn" >
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
  <br>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<div class="container">  
<canvas id="amountChart" width="200" height="50"></canvas>
<br>
<canvas id="orderChart" width="200" height="50"></canvas>

<script>
$("#search-btn").click(function(){
  event.preventDefault();
  $(".search-item").remove();//刪除原先的搜尋結果
  var s_date = $("#s_date").val();
  var e_date = $("#e_date").val();

  console.log(s_date);
  console.log(e_date);

  $.ajax({
    url: "/cashier/orders/search_outcome?type=period" ,
    method: "POST",
    dataType: "json",
    data: {
      s_date: s_date,
      e_date: e_date
    },
    success: function(datas){


      clearTimeout(go);   
      var go = setTimeout(display, 500);  

      function display() {
        var yAxis= datas.arr_y;
        var xAxis = datas.arr_x;                                  
        var ctx = document.getElementById("amountChart").getContext('2d');
        var amountChart = new Chart(ctx, {
            type: 'line',
          data: {
            labels: xAxis,
            datasets: [{
              label: '每日銷售額',
              data: yAxis,
              backgroundColor: [
                  'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                   'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
            }]
                },
          options: { 
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  min: 0
                }
              }]
            }
          }
        });

    // chart2
      var yAxis= datas.arr_y2;
      var xAxis = datas.arr_x;                                  
      var ctx2 = document.getElementById("orderChart").getContext('2d');
      var orderChart = new Chart(ctx2, {
          type: 'line',
        data: {
          labels: xAxis,
          datasets: [{
            label: '每日訂單量',
            data: yAxis,
            backgroundColor: [
                'rgba(51, 102, 102, 0.2)',
            ],
            borderColor: [
                 'rgba(51, 102, 102, 1)',
            ],
            borderWidth: 1
          }]
              },
        options: { 
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                stepSize: 1,
              }
            }]
          }
         }
      });
      }
     }
  });
}); 
</script>
</div>