<div class="container">
 
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '銷售報表' } %>
  <%= render :partial => "shared/tabs_analysis", :locals => { :selected_item => '每日銷售明細' } %>

 <form id="search-form">
 <div class="input-group col-xs-2">
  <input type="date" id="date1" class="form-control">
  <div class="input-group-btn">
    <button class="btn btn-default" type="submit" id="search-btn" >
      <i class="glyphicon glyphicon-search"></i>
    </button>
  </div>
</div>
</form>

<table class="table table-hover" data-toggle="table" id="table" style="display: none">
    <thead id="search-list">
      <tr>
        <th data-sortable="true" data-field="created_at">訂購日期</th>
        <th data-sortable="true" data-field="id">訂單編號</th>
        <th>會員姓名</th>
        <th>購買商品</th>
        <th>付款方式</th>
        <th>取貨方式</th>
        <th data-sortable="true" data-field="amount">訂單金額</th>
        <th>狀態</th>
        <th>結帳人員</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
</div>

<script>

$("#search-btn").click(function(){
  event.preventDefault();
  $(".search-item").remove();//刪除原先的搜尋結果
    var date = $("#date1").val();
    console.log(date);


  $.ajax({
    url: "/cashier/orders/search_outcome?type=day",
    method: "POST",
    dataType: "json",
    data: {
      created_at: date,
    },
    success: function(datas){

      var total_amount = document.createElement("p");
      total_amount.className = "alnright";
      var total_amount_value = datas.total_amount;
      var orders_hash = datas.orders_hash;
      var orders = datas.orders;
      var users = datas.users;
      var members = datas.members;

      var total_amount = document.createElement("p");
      total_amount.className = "alnright";
      var total_amount_value = datas.total_amount;
      if(orders.length == 0){
            alert("No data found");
      }
      else{
        $(".table").show();  

        for(var i=0; i < orders.length;i++){
          var data = orders[i];
          var item_datas = orders_hash[data["id"]];
          var order = document.createElement("tr");
          console.log(orders_hash);
          console.log(data["id"]);
          console.log(item_datas["1"]);
          order.id = data["id"];
          $(order).attr("class","search-item");
          $(order).html($("#statement-template").html());
          $(order).find(".date").html(data["created_at"].substring(0, 10));
          $(order).find(".sn").append("<a href=\"/cashier/orders/" + data["id"] + "\">" + data["sn"] + "</a>");
          if(data["status"] == true){
            $(order).find(".status").html("已取貨");
          }
          else{
            $(order).find(".status").html("未取貨").addClass('text-danger');
          }
          $(order).find(".user").html(users[i]);
          if (data["member_id"] == -1 ){
            $(order).find(".member_id").html("非會員");
          }
          else{
            $(order).find(".member_id").append("<a href=\"/cashier/members/" + data["member_id"] + "\">" + members[data["id"]] + "</a>");
          }
          for(var key in item_datas){
            $(order).find(".order_item").append(item_datas[key]["name"] + "*" + item_datas[key]["quantity"] + ",");
            console.log(item_datas[key]["name"]);
          }
       
          $(order).find(".payment_method").html(data["payment_method"]);
          $(order).find(".address").html(data["address"]);
          $(order).find(".amount").html(data["amount"].toLocaleString('en-US', {minimumFractionDigits: 0}));
          
          $("#search-list").append(order);
        }
          $(total_amount).html(date + " 總銷售金額： " + total_amount_value.toLocaleString('en-US', {style: 'currency', currency: 'USD', minimumFractionDigits: 0}));
          $("#search-form").append(total_amount);
      }
    }
  });
});  
</script>

<script type="text/template"  id="statement-template">

  <td class="date"></td>
  <td class="sn"></td>
  <td class="member_id"></td>
  <td class="order_item alnleft"></td>
  <td class="payment_method"></td>
  <td class="address"></td>
  <td class="amount" style="text-align: right"></td>
  <td class="status"></td>
  <td class="user"></td>

</script>