<div class="container">
 
  <%= render :partial => "shared/tabs1", :locals => { :selected_item => '銷售報表' } %>
  <%= render :partial => "shared/tabs_analysis", :locals => { :selected_item => '每日銷售報表' } %>
      
  <h2>每日銷售報表</h2>
</div>