<div class="container">
 
  <%= render :partial => "shared/tabs1", :locals => { :selected_item => '銷售報表' } %>
  <%= render :partial => "shared/tabs_analysis", :locals => { :selected_item => '銷售報表查詢' } %>

  <form id="search-form">
    <div class="input-group col-xs-4">
      <input type="date" id="s_date" class="form-control">
      <div class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i>
    </div>
      <input type="date" id="e_date" class="form-control">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" id="search-btn" >
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
<br>
  <table class="table table-hover" data-toggle="table" id="table" style="display: none">
    <thead id="search-list">
      <tr>
        <th data-sortable="true" data-field="created_at">訂購日期</th>
        <th data-sortable="true" data-field="id">訂單編號</th>
        <th>會員姓名</th>
        <th>付款方式</th>
        <th>取貨方式</th>
        <th data-sortable="true" data-field="amount">訂單金額</th>
        <th>狀態</th>
        <th>結帳人員</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
</div>

<script>

$("#search-btn").click(function(){
  event.preventDefault();
  $(".search-item").remove();//刪除原先的搜尋結果
  var s_date = $("#s_date").val();
  var e_date = $("#e_date").val();

  console.log(s_date);
  console.log(e_date);

  $.ajax({
    url: "/cashier/orders/search_outcome?type=period" ,
    method: "POST",
    dataType: "json",
    data: {
      s_date: s_date,
      e_date: e_date
    },
    success: function(datas){

      var total_amount = document.createElement("p");
      total_amount.className = "alnright";
      var total_amount_value = datas.total_amount;
      var orders = datas.orders;
      var users = datas.users;
      var members = datas.members;
      
      if(orders.length == 0){
            alert("No data found");
      }
      else{
        $(".table").show();  

        for(var i=0; i < orders.length;i++){
          var data = orders[i];
          var order = document.createElement("tr");
             console.log(orders);
            order.id = data["id"];
            $(order).attr("class","search-item");
            $(order).html($("#statement-template").html());
            $(order).find(".date").html(data["created_at"].substring(0, 10));
            $(order).find(".sn").append("<a href=\"/cashier/orders/" + data["id"] + "\">" + data["sn"] + "</a>");
            if(data["status"] == true){
              $(order).find(".status").html("已取貨");
            }
            else{
              $(order).find(".status").html("未取貨").addClass('text-danger');
            }
            $(order).find(".user").html(users[i]);
            if (data["member_id"] == -1 ){
              $(order).find(".member_id").html("非會員");
            }
            else{
              $(order).find(".member_id").append("<a href=\"/cashier/members/" + data["member_id"] + "\">" + members[data["id"]] + "</a>");
            }
            $(order).find(".payment_method").html(data["payment_method"]);
            $(order).find(".address").html(data["address"]);
            $(order).find(".amount").html(data["amount"].toLocaleString('en-US', {minimumFractionDigits: 0}));
            
            $("#search-list").append(order);
        }
          $(total_amount).html(s_date + " ～ " + e_date + " 總銷售金額： "+ total_amount_value.toLocaleString('en-US', {style: 'currency', currency: 'USD', minimumFractionDigits: 0}));
          $("#search-form").append(total_amount);
      }
    }
  });
});  
</script>

<script type="text/template"  id="statement-template">

  <td class="date"></td>
  <td class="sn"></td>
  <td class="member_id"></td>
  <td class="payment_method"></td>
  <td class="address"></td>
  <td class="amount" style="text-align: right"></td>
  <td class="status"></td>
  <td class="user"></td>

</script>