<div class="container">
 
  <br>
  <%= link_to "新增門市人員帳號", new_cashier_user_path, class: "btn btn-primary center-block" %>
  <br>
  <table class="table" data-toggle="table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>狀態</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody id="origin-list" >          
      <% @users.each do |user| %>
         
        <tr>         
          <td><%= user.name %></td>
          <td>
            <% if user.resigned %>
              <span class="label label-danger">已離職</span>
            <% else %>
              <span class="label label-success">在職中</span>
            <% end %>
          </td>
          <td>
            <% if user.resigned %>
              <%= link_to "恢復成在職", to_in_service_cashier_user_path(user), method: :post %>
            <% else %>
              <%= link_to "轉換為離職", to_resigned_cashier_user_path(user), method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
    
</div>
