<div class="container">
 
  <br>
  <table class="table" data-toggle="table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>狀態</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody id="origin-list" >          
      <% @users.each do |user| %>
         
        <tr>         
          <td><%= user.name %></td>
          <td>
            <% if user.resigned %>
              <span class="label label-danger">已離職</span>
            <% else %>
              <span class="label label-success">在職中</span>
            <% end %>
          </td>
          <td>
            
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>  
    
</div>
