<% if flash[:notice] %>
<br>
<div class="container">
  <div class="row">
    <div class="alert alert-success alert-dismisssible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  </div>
</div>
<% end %>
