      <footer id="footer">
        <div class="container">
          <div class="footer-content"> 
            <%= image_tag("footer-title.png")  %>
            <p>(02)2252-9909  info@orientea.com.tw</p>
            <p>聯絡時間：周一至五 09:00-11:50、13:00-18:00</p>
            <div class="footer-social-icon">
              <ul>
                <li>
                  <a href="https://www.facebook.com/teaseed">
                    <%= image_tag("footer-fb.png")  %>
                  </a>
                  <a href="https://www.instagram.com/chatzutang/">
                    <%= image_tag("footer-ig.png")  %>
                  </a>
                  <a href="https://www.youtube.com/channel/UCR06OACzPvbLQ8tcmvgmXbw/feed">
                    <%= image_tag("footer-youtube.png")  %>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>