<div class="alncenter">
  <%= link_to '客情紀錄', cashier_guests_path %> ｜ 
  <%= link_to '今日客情', guest_today_cashier_guests_path %> ｜ 
  <%= link_to '今日客情分析', guest_analysis_cashier_guests_path %>
</div>