<div class="container page-margin">
      
  <div class="col-md-8 col-md-offset-2">
    <h4 class="title table-title"><span class="title-main">新增日誌</span></h4>
    <%= render partial: "form" %>
  </div>
</div>