<div class="container">
  <h2>茶籽堂</h2>
  <ul class="nav nav-tabs">
    <li role="presentation" ><%= link_to "後台首頁",cashier_root_path%></li>
    <li role="presentation" ><%= link_to "新增會員",new_cashier_member_path%></li>
    <li role="presentation" class="active"><a href="#">成立訂單</a></li>
    <li role="presentation" ><%= link_to "搜尋會員",search_cashier_members_path%></li>
    <li role="presentation" ><%= link_to "客情資料",cashier_guests_path%></li>
  </ul>
  
  <br>
  <h2>結帳頁面</h2>

  <table>
    <h2>商品列表</h2>
  </table> 
</div>
  