<div class="container">

  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '搜尋會員' } %>
  <%= render :partial => "shared/tabs_query_members", :locals => { :selected_item => '快速搜尋' }  %>
    
  <form id="search-form">
    <div class="input-group col-xs-3">
      <input type="text" id="phone2" class="form-control" placeholder="請輸入姓名或手機或 email">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" id="search-btn" >
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form> 
  <br>
 
  <table class="table function-table">
    <tbody id="search-list">
      
      <tr>
        <th>姓名</th>
        <th>性別</th>
        <th>生日</th>
        <th>手機號碼</th>
        <th>信箱</th>
        <th>功能</th>
      </tr>     
        
    </tbody>
  </table>  
</div>

<script type="text/javascript">
 
  
  $("#search-btn").click(function(){
    
    event.preventDefault();
    $(".search-item").remove();//刪除原先的搜尋結果
    
    var search_word = $("#phone2").val();
    if(search_word.length < 2)//至少要輸入2碼才能搜尋
    {
      //alert(phone2);
      //alert(phone2.length);
      alert("錯誤!輸入長度不足2碼");
    }else{
      $.ajax({
        url: "/cashier/members/search_outcome" ,
        method: "POST",
        dataType: "json",
        data: {
          phone: search_word,
        },
        success: function(datas){
          if(datas.length == 0){
            alert("No data found");
          }
          else{
            for( var i = 0 ; i < datas.length ; i++ ){
              var member = document.createElement("tr");
              var data = datas[i];
              
              member.id = data["id"];
              $(member).attr("class","search-item");
              $(member).html($("#member-template").html());
              $(member).find(".name").html(data["name"]);
              $(member).find(".gender").html(data["gender"]);
              if(data["birthday"].substring(5, 7) == new Date().getMonth()+1){
                $(member).find(".birthday").append(data["birthday"] + " <i class=\"fa fa-birthday-cake\" aria-hidden=\"true\" style=\"color:#FF9900\"></i>");
              }
              else{
                $(member).find(".birthday").html(data["birthday"]);
              }
              $(member).find(".phone").html(data["phone"]);
              $(member).find(".email").html(data["email"]);
              
            
              var url_checkout = document.createElement("a");
              var url_info = document.createElement("a");
              var url_history = document.createElement("a");

              url_checkout.href = "/cashier/orders/new?id=" +member.id;
              url_info.href = "/cashier/members/" +member.id ;
              url_history.href = "/cashier/members/" +member.id + "/show_orders";

              url_checkout.setAttribute("caption", "成立訂單");
              url_info.setAttribute("caption", "會員資料");
              url_history.setAttribute("caption", "訂單記錄");

              $(url_checkout).html(" <i class=\"fa fa-edit\" aria-hidden=\"true\"></i>");
              $(url_info).html(" <i class=\"fa fa-user\" aria-hidden=\"true\"></i>");
              $(url_history).html(" <i class=\"fa fa-list-alt\" aria-hidden=\"true\"></i>");
              
              $(member).find(".function").append(url_checkout);
              $(member).find(".function").append(url_info);
              $(member).find(".function").append(url_history);
              

              $("#search-list").append(member);
            }
          }
        }
      });
    }
  });
</script>

<script type="text/template" id="member-template">
  
  <td class="name"></td>
  <td class="gender"></td>
  <td class="birthday"></td>
  <td class="phone"></td>
  <td class="email"></td>
  <td class="function data-table"></td>
</script>