<form id="search-form">
  <label>手機號碼</label>
  <input type="text" id="phone">
  <br>
  <label>電子信箱</label>
  <input type="text" id="email">
  <br>

  <button id="search">搜尋</button>
</form>

<table >
  <tbody class="search-list">
    <tr>
      <th>編號</th>
      <th>姓名</th>
      <th>手機號碼</th>
    </tr>
  </tbody>
</table>  



<script type="text/javascript">
  
  $("#search-form").on("click","#search",function(event){
    event.preventDefault();
    var phone = $("#phone").val();
    var email = $("#email").val();
    console.log(phone);
    console.log(email);
    $.ajax({
      url: "/cashier/members/search_outcome" ,
      method: "POST",
      dataType: "json",
      data: {
        phone: phone,
        email: email
      },
      success: function(data){
        var member = document.createElement("tr");
        if(data["id"]==""){
          $(member).html("No data fund");
        }
        else{
          $(member).html($("#member-template").html());
          $(member).find(".id").html(data["id"]);
          $(member).find(".name").html(data["name"]);
          $(member).find(".phone").html(data["phone"]);
        }
        
          
        $(".search-list").append(member);
        console.log(data["name"]);
      }
    });
  });
</script>

<script type="text/template" id="member-template">
  <td class="id"></td>
  <td class="name"></td>
  <td class="phone"></td>
</script>