<div class="container">
  
  <%= render :partial => "shared/tabs2", :locals => { :selected_item => '上傳商品' } %>
  
  <br>
  <%= form_tag import_cashier_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "更新" %>
  <% end %>
</div>

  