<div class="container">
 
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '客情資料' } %>
  <%= render :partial => "shared/tabs_guest", :locals => { :selected_item => '客情紀錄' } %>
    
  <form id="search-form">
    <div class="input-group col-xs-4">
      <input type="date" id="s_date" class="form-control">
      <div class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i>
    </div>
      <input type="date" id="e_date" class="form-control">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" id="search-btn" >
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>

  <br>
  <table class="table table-striped  table-bordered" style="display: none;">
    <tbody id="search-list">

      <tr>
        <th>時間截記</th>
        <th>購買金額</th>
        <th>性別</th>
        <th>客戶類型</th>
        <th>國籍</th>
        <th>年齡結構</th>
        <th>如何得知茶籽堂</th>
        <th>備註</th>
        <th>記錄人員</th>
      </tr>     

    </tbody>
  </table>  

</div>


<script> 
$("#search-btn").click(function(){
  event.preventDefault();
  $(".search-item").remove();//刪除原先的搜尋結果
  var s_date = $("#s_date").val();
  var e_date = $("#e_date").val();

  console.log(s_date);
  console.log(e_date);
  $.ajax({
    url: "/cashier/guests/search_outcome" ,
    method: "POST",
    dataType: "json",
    data: {
      s_date: s_date,
      e_date: e_date
    },
    success: function(datas){
      if(datas.length == 0){
            alert("No data found");
      }
      else{
        $(".table").show();
          // pct
          var pct = document.createElement("p");
          pct.className = "alnright";
          var total_guest = datas.length +1 ;
          var total_payment = 0 ;
          var pct_value = 0;    

        for(var i=0; i <datas.length;i++){
          var data = datas[i];
          var guest = document.createElement("tr");
            total_payment += Number(data["payment"]);
           // console.log(datas);
            guest.id = data["id"];
            $(guest).attr("class","search-item");
            $(guest).html($("#guest-template").html());
            $(guest).find(".time").html(data["created_at"].substring(0, 10));
            $(guest).find(".payment").html(data["payment"].replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            $(guest).find(".gender").html(data["gender"]);
            $(guest).find(".guest_type").html(data["guest_type"]["guest_type"]);
            $(guest).find(".country").html(data["country"]["name_zh_tw"]);
            $(guest).find(".age").html(data["age"]["age_type"]);
            $(guest).find(".info_way").html(data["info_way"]["news_channel"]);
            $(guest).find(".remark").html(data["remark"]);
            $(guest).find(".user").html(data["user"]["name"]);
            
            $("#search-list").append(guest);
          //console.log(data["id"]);
        }
          pct_value = (total_payment/total_guest).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          $(pct).html(s_date + " ～ " + e_date + " 客單價： "+pct_value);
          $("#search-form").append(pct);
      }
    }
  });  
 
});  
</script>

<script type="text/template" id="guest-template">
  
  <td class="time"></td>
  <td class="payment" style="text-align: right"></td>
  <td class="gender"></td>
  <td class="guest_type"></td>
  <td class="country"></td>
  <td class="age"></td>
  <td class="info_way"></td>
  <td class="remark"></td>
  <td class="user"></td>
  
</script>