<div class="container">

  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '客情資料' } %>
  <%= render :partial => "shared/tabs_guest", :locals => { :selected_item => '今日客情' } %>
      
  <div class="col-md-8 col-md-offset-2">
    <h4 class="title table-title"><span class="title-main">新增客情</span></h4>
    <%= render partial: "form" %>
  </div>
</div>