.auto-no {
  width: 60px;
}

.alnleft { 
  text-align: left; 
}

.alnright { 
  text-align: right; 
}

.alncenter { 
  text-align: center; 
}

th {
  text-align: center; 
}

td {
  text-align: center; 
}

a {
  text-decoration: none !important;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

#search-btn {
  outline: none;
}

/* ============================== 01. footer - bottom method =========================*/
html {
height: 100%;
}

body {
min-height: 100%;
display: flex;
flex-direction: column;
}

.content {
flex: 1;
}
/* ============================== 01. footer =========================*/
footer {
  padding: 40px 0;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
}

.footer-content p {
  line-height: 22px;
}

.footer-content img {
  width:235px;
  height:31px;
  margin-bottom:10px;
}

.footer-social-icon img {
  width:40px;
  height:40px;
  margin:0 5px;
}

/* ============================== 02. header =========================*/
header {
  text-align: center;
  width: 100%;
  display: block;
}

#header #function-box {
  position: absolute;
  right: 0;
  top: 140px;
  margin-right:150px;
}

#function-box li{
  display: inline-block;
  margin:0 8px;
}

#header #user-box {
  position: absolute;
  right: 0;
  top: 110px;
  margin-right:150px;
}

#header #search {
  position: absolute;
  top: 180px;
  display: block;
  overflow: hidden;
  right: 0px;
  margin-right:150px;
}

/* ============================== 03. tab =========================*/
.nav-pills{
  margin: 35px 0;
  text-align: center;
}

.nav-pills li{
  float: none;
  display: inline-block;
}

.nav-pills li a{
  margin: 0;
  padding: 10px 30px;
  border-radius: 0px;
  border-bottom: 1px solid;
  border-color:#f5f5f5;
  color: #696969;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
  color: #000;
  background-color: white;  
  border-bottom: 5px solid;
  border-color:#708090;
  font-weight: bold;
} 

/* ============================== 04. guest-tab =========================*/
.guest-tab{
  margin-bottom: 30px;
  text-align: center;
}

.guest-tab li{
  float: none;
  display: inline-block;
}

.guest-tab li a{
  margin: 0;
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid;
  border-color: #C0C0C0;
  color: #696969;
}

.guest-tab > li.active > a,
.guest-tab > li.active > a:hover,
.guest-tab > li.active > a:focus{
  color: white;
  background-color: #C0C0C0;  
  border-bottom: 1px solid;
  border-color: #C0C0C0;
} 

/* ============================== 05. tab-advanced =========================*/
.advanced-tab{
  margin: 35px 0;
  text-align: center;
}

.advanced-tab li{
  float: none;
  display: inline-block;
}

.advanced-tab li a{
  margin: 0;
  padding: 10px 30px;
  border-radius: 0px;
  border-bottom: 1px solid;
  border-color: #FAF0E6;
  color: #696969;
}

.advanced-tab > li.active > a,
.advanced-tab > li.active > a:hover,
.advanced-tab > li.active > a:focus{
  color: #000;
  background-color: white;  
  border-bottom: 5px solid;
  border-color: tan;
  font-weight: bold;
} 

/* ============================== 06. tab-setting =========================*/
.setting-tab{
  margin: 35px 0;
  text-align: center;
}

.setting-tab li{
  float: none;
  display: inline-block;
}

.setting-tab li a{
  margin: 0;
  padding: 10px 30px;
  border-radius: 0px;
  border-bottom: 1px solid;
  border-color:   #d1e9e9;
  color: #696969;
}

.setting-tab > li.active > a,
.setting-tab > li.active > a:hover,
.setting-tab > li.active > a:focus{
  color: #000;
  background-color: white;  
  border-bottom: 5px solid;
  border-color: darkcyan;
  font-weight: bold;
}

/* ============================== 07. login =========================*/

.login-form {
  margin-top: 30px;
}

.login-form label {
  font-family: 'Acme', sans-serif;
  font-size: 20px;
}

.avatar{
  margin-top: 80px;
}
/* ============================== 08. order-span =========================*/
.cart-item-list span:hover {
    cursor: pointer;
}

/* ============================== 09. sales-tab =========================*/
.guest-tab .dropdown-menu {
  margin: 0;
  white-space: nowrap;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
 }
/* ============================== 10. order-radio-button =========================*/

.my_radio {
    background:#F0F8FF;
    
    border-radius:8px;   
    padding:0.4em;
    cursor:pointer;
}

.my_radio:hover {
    background:#ccc;   
}

.my_radio input {
    margin-right:1em;   
}

/* ============================== 11. guest-analysis-chart =========================*/
.chart {
  margin: 30px 0px;
}

.analysis {
  margin-top: 150px;
}

.hourchart {
  margin: 50px 0px;
}

/* ============================== 12. search-modal =========================*/

/* ============================== 13. cart-bill =========================*/
.cart-bill {
    overflow: hidden;
    margin: 15px 0 15px 0;
    padding-top: 10px;
}

.cart-bill ul {
    float: right;
    width: 250px;
    padding-right: .3em;
    text-align: right;
}

.cart-bill span {
    display: inline-block;
    min-width: 120px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.cart-bill li span:first-child {
    min-width: 5em;
}

.cart-bill .last {
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #999;
    font-weight: 700;
}

/* ============================== 14. my-button =========================*/
$blue:  #003d79;
$gray: #bbbbbb;
$orange: #F07B3F;

.my-btn {
  outline:none;
  height: 30px;
  text-align: center;
  width: 100px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $blue;
  color:$blue;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $blue;
  }
  &:active {
    letter-spacing: 2px ;
  }
  a {
    color:$blue;
    &:hover {
      color:white;
  }
  }
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$blue;
  animation: rotating 2s 0.25s linear infinite;

  &:hover {
    color:$blue;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $blue;
}

.discount-input{
  border: 0;
  border-bottom: 2px solid $blue;
  outline: none;
}
/* ============================== 15. button-clear =========================*/

.btn-clear{
  outline:none;
  height: 30px;
  text-align: center;
  width: 100px;
  border-radius:40px;
  letter-spacing:1px;
  background: $blue;
  color:white;
    font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: $blue;
    background: white;
    border: 2px solid $blue;
  }
  &:active {
    letter-spacing: 2px ;
  }
}
/* ============================== 16. button-submit =========================*/

.btn-submit {
  outline:none;
  height: 35px;
  text-align: center;
  width: 200px;
  border-radius:40px;
  background: $orange;
  border: 2px solid $orange;
  color:white;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:$orange;
    background: #fff;
  }
  &:active {
    letter-spacing: 2px ;
  }

}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$orange;
  animation: rotating 2s 0.25s linear infinite;

  &:hover {
    color:$orange;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $orange;
}

/* ============================== 16. button-danger =========================*/
.btn-danger{
  outline: none;
  height: 35px;
  width: 200px;
  border-radius:40px;
  letter-spacing:1px;
  font:{
    size:13px;
    weight:bold;
  }
}


/* ============================== 17. data-table =========================*/
.data-table caption {
  padding: 0.5em;
}
.data-table a {
  display: inline-block;
  width: 27px;
  height: 27px;
  color: #999;
  line-height: 23px !important;
  font-size: 18px !important;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 100%;
  position: relative;
  underline: none;
  transition: all 0.2s ease-in-out;
}

.data-table a:hover {
  color: $orange;
}

.data-table a + a {
  margin-left: 10px;
}
.data-table a:before {
  content: "";
  border: 5px solid transparent;
  border-top-color: $orange;
  position: absolute;
  top: -7px;
  left: calc(50% - 5px);
}
.data-table a:after {
  content: attr(caption);
  white-space:nowrap;
  display: block;
  width: auto;
  padding: 5px 8px;
  border-radius: 3px;
  position: absolute;
  top: -33px;
  right: -10px;
  font-size: 12pt;
  line-height: 12pt;
  font-weight: 500;
  color: white;
  text-align: center;
  background: $orange;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 1px,
  inset rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.1) 0 1px 2px;
}
.data-table a:before,
.data-table a:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.data-table a:hover:before,
.data-table a:hover:after {
  visibility: visible;
  opacity: 1;
}

.function-table > tbody > tr > td {
  line-height: 1.8;
}

/* ============================== 18. cart-table =========================*/

.cart-table {
  color: #333;
  border-collapse: separate;
  border: 2px solid $blue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
  border-radius: 2px;
}

.cart-table th {
  background: $blue;
  color: #fff;
  border: none;
}

.cart-table tr:hover:not(th) {
  background-color: rgba(0, 61, 122,.1);
}

/* ============================== 19. member-table =========================*/

.member-table {
  color: #333;
  border-collapse: separate;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
  border-radius: 2px;
}

.member-table th {
  background: rgba(0, 61, 122,1);
  color: #fff;
  border: none;
}

/* ============================== 20. product-table =========================*/

.product-table {
  color: #333;
  border: 2px solid $gray;
  border-radius: 2px;
}

.product-table th {
  background: $gray;
  color: black;
  border: none;
}

/* ============================== 21. order-message =========================*/

.col-horizontal {
  padding-top: 16px;
  border-top: 1px solid $blue;
}

.col-horizontal:last-child {
  border-bottom: 0;
}

.col-horizontal .col-item {
  float: left;
  width: 50%;
  padding: 0 15px;
}
