.alnleft { 
  text-align: left; 
}

.alnright { 
  text-align: right; 
}

.alncenter { 
  text-align: center; 
}

th {
  text-align: center; 
}

td {
  text-align: center; 
}

a {
  text-decoration: none !important;
  display: inline-block;
  color:#696969;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* ============================== 01. footer - bottom method =========================*/
html {
height: 100%;
}

body {
min-height: 100%;
display: flex;
flex-direction: column;
}

.content {
flex: 1;
}
/* ============================== 01. footer =========================*/
footer {
  padding: 40px 0;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
}

.footer-content p {
  line-height: 22px;
}

.footer-content img {
  width:235px;
  height:31px;
  margin-bottom:10px;
}

.footer-social-icon img {
  width:40px;
  height:40px;
  margin:0 5px;
}

/* ============================== 02. header =========================*/
header {
  text-align: center;
  width: 100%;
  display: block;
}

#header #function-box {
  position: absolute;
  right: 0;
  top: 140px;
  margin-right:150px;
}

#function-box li{
  display: inline-block;
  margin:0 8px;
}

#header #user-box {
  position: absolute;
  right: 0;
  top: 110px;
  margin-right:150px;
}

#header #search {
  position: absolute;
  top: 180px;
  display: block;
  overflow: hidden;
  right: 0px;
  margin-right:150px;
}
