<h2>加入會員</h2>
<form>
  <label>姓名</label>
  <input type="text">
  <br>
  <label>性別</label>
  男
  <input type="checkbox" >
  女
  <input type="checkbox" >
  <br>
  <label>生日</label>
  <input type="text" >


</form>