<div class="container avatar">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="alncenter">會員資料建檔成功</h3>
      <br>
      <h4 class="alncenter">請門市人員登入CRM系統確認是否有此資料</h4>
    </div>
  </div>
</div>